$headerColor: #b4ffff; 
$footerColor: #48acb8;
$bgColor: #d2d2d2;
$borderColor: #4bacb8;
$textColor: black;
$buttonColor: #ef5350;
$containerBgColor: hsla(180, 100%, 95%, 0.8);
$secondButtonColor:#7edeea; 
