.main-header {
    height: 70px;
    width: 100%;
    background-color: $headerColor;
    color: $textColor;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    
}

.logged-in-user-greeting  {
    // background-color: $bgColor;
    text-align: center;
    color: $textColor;
    font-size: 0.8em;
    // display: flex;
    // justify-items: center;
    // align-items: center;
}

