.homes-content-wrapper {
    background-color: $containerBgColor;
    border: 1px solid grey;
    padding: 14px;
    width: 100%;
    height: 100%;

    .home-list-wrapper {
        display: flex;
        align-content: center;
    }

    .button-join-home {
        padding: 10px;
        background-color: $secondButtonColor;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 1em;
        transition: all .2s ease-in-out;
        height: 50px;
        width: 50px;
        background-color: $secondButtonColor;
        border: 1px solid lightslategrey;
        border-radius: 5px;
        border: 1px solid lightslategrey;
    }

    .button-create-home {
        // @media screen and (max-width: 350px) {
        //     height: 30px;
        //     width: 150px;
        // } WTF?
        padding: 10px;
        margin: 17px 0 17px 0;
        background-color: $buttonColor;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 1em;
        transition: all .2s ease-in-out;
        border-radius: 5px;
        border: 1px solid lightslategrey;
    }

    h1 {
        margin: 20px 0 20px 0;
    }
}

.create-home-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
   

    .create-home-form {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 80%;
        input {
            padding: 10px 10px 10px 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid lightslategrey;
            background-color: white;
            font-family: 'Raleway', sans-serif;
            color: $textColor;
            &::placeholder {
                color: $textColor;
                text-align: center;
                font-family: 'Raleway', sans-serif;
            }
            &:focus {
                font-size: 18px;
                border: 1px solid $textColor;
                &::placeholder {
                    color: $textColor;
                    text-align: center;
                    font-family: 'Raleway', sans-serif;
                    
                }
            }
        }
    }
}

.single-home-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c7ecf1;
    padding: 13px 15px 13px 15px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 1);
    box-shadow: 1px 1px 2px 0px rgba(115, 115, 115, 1);
    @media screen and (max-width: 350px) {
        align-items: center;
        flex-wrap: wrap;
    }

    .single-home-wrapper-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 12px;

        span.home-name {
            padding: 3px 0 3px 0;
            text-transform: uppercase;
            font-weight: bold;
            color: $buttonColor;
            font-size: 1.1em;
            text-align: center;
        }

        span.roommates-number {
            align-self: center;
        }
    }

    span {
        margin-left: 10px;
    }
}