.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    input {
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid lightslategrey;
        background-color: white;
        font-family: 'Raleway', sans-serif;
        color: $bgColor;
        &::placeholder {
            color: $bgColor;
            text-align: center;
            font-family: 'Raleway', sans-serif;
        }
        &:focus {
            font-size: 18px;
            border: 1px solid $textColor;
            &::placeholder {
                color: $bgColor;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                
            }
        }
    }
}

input[type=submit] {
    padding: 10px;
    background-color: $bgColor;
    color: $textColor;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}