.navigation {
    height: auto;
    position: absolute;
    width: 100%;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: $footerColor;
    div {
        justify-content: center;
    }
}

.hideMenu {
    transform: translate3d(-100vw, 0, 0);
}

.showMenu {
    position: absolute;
    left: 0;
    top: 46px;
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    ul {
        display: flex;
        flex-direction: column;
        // align-items: center;
        text-decoration: none; 
        color: white;
        margin: 20px auto 0 auto;
        padding-bottom: 20px;
        li a {
            color: white;
            text-decoration: none;
            line-height: 1.5em;
        }
    }
}

.burger-menu-icon {
    width: 75px;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../images/burger_menu_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px auto 0 auto;
    @keyframes bounce {
        0% {
          left: 5px;
        }
        50% {
          left: 10px;
        }
        100% {
          left: 0px;
        }
      }
      
    &:hover {
        cursor: pointer;
        animation: bounce 1s 1 ease; 
    }
}